<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5BIpdPZz6DDEjeQdwDEDFHF2esvZkaT8</string>
	<key>GCM_SENDER_ID</key>
	<string>210326622718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappCloneFlutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-flutter-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-flutter-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210326622718:ios:f995029502c3e08e2270af</string>
</dict>
</plist>